﻿@model OPSTasks.Models.JobDescription

@{
    ViewBag.Title = "Delete Job Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Job Description</h2>

<h3>Are you sure you want to delete this?</h3>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Job Description List", "Index")
        </div>
    }
</div>
