﻿@model IEnumerable<OPSTasks.Models.JobDescription>

@{
    ViewBag.Title = "Job Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Description</h2>

<p>
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.ActionLink("Create Job Description", "Create")
    }
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowSkip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                <br />@Html.ActionLink("Details", "Details", new { id = item.ID })
                <br />@Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        @if (ViewBag.IsUser != null && ViewBag.IsUser)
        {
            <td>                
                @Html.ActionLink("Details", "Details", new { id = item.ID })                
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="max-width: 350px;">
            @Html.Raw(item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowSkip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>       
    </tr>
}

</table>
