﻿@model IEnumerable<OPSTasks.Models.SubtaskViewModel>

@{
    ViewBag.Title = "Subtasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subtasks</h2>

<p>
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.ActionLink("Create Subtask", "Create")
    }
</p>
<table class="table">
    <tr>        
        <th></th>        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                <br />@Html.ActionLink("Details", "Details", new { id = item.ID })
                <br />@Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        @if (ViewBag.IsUser != null && ViewBag.IsUser)
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>                      
    </tr>
}

</table>
