﻿@model OPSTasks.Models.JobTaskViewModels.JobTaskViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Task Details</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>     
        
        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReplaceTask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplaceTask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSubtasks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSubtasks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intervals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intervals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.DaysOfWeek)</dt>

        <dd>
            @for (int i = 0; i < Model.DaysOfWeek.Count(); i++)
            {
                @Html.HiddenFor(x => x.DaysOfWeek[i].id)
                @Html.CheckBoxFor(x => x.DaysOfWeek[i].isChecked, new { @disabled = "disabled" })
                @Html.DisplayFor(x => x.DaysOfWeek[i].text, new { htmlAttributes = new { @class = "form-control" } })
                <br />
            }
        </dd>              
                
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Back to Job Task List", "Index")
</p>
