﻿@model OPSTasks.Models.JobTaskViewModels.JobTaskViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Job Task</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
<div class="container">
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.JobDescriptions, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.JobDescriptionID, Model.JobDescriptions, new { @class = "form-control", @style = "width: 100% !important; max-width: none !important" })
            @Html.ValidationMessageFor(model => model.JobDescriptions, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.ReplacementTasks, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            @Html.DropDownListFor(model => model.ReplaceTaskID, Model.ReplacementTasks, "None", new { @class = "form-control", @style = "width: 100% !important; max-width: none !important" })
            @Html.ValidationMessageFor(model => model.ReplacementTasks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.Frequencies, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(model => model.Frequency, Model.Frequencies, new { @class = "form-control frequency", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" })
            @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.Intervals, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-1">
            @Html.EditorFor(model => model.Intervals, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @style = "width: 100% !important; max-width: none !important; margin-left: 0 !important;" } })
            @Html.ValidationMessageFor(model => model.Intervals, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            @Html.LabelFor(model => model.HasSubtasks, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-5">
            @Html.CheckBoxFor(model => model.HasSubtasks, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1" } })
            @Html.ValidationMessageFor(model => model.HasSubtasks, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="bydate">
            <div class="col-md-3 text-right">
                @Html.Label("By Date", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-5">
                @Html.CheckBoxFor(model => model.byDate, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="month">
            <div class="col-md-3 text-right">
                @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Month, Model.Months, new { @class = "form-control", @style = "width: 100% !important; max-width: none !important" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="placement">
            <div class="col-md-3 text-right">
                @Html.LabelFor(model => model.Placement, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Placement, Model.Placements, new { @class = "form-control", @style = "width: 100% !important; max-width: none !important" })
                @Html.ValidationMessageFor(model => model.Placement, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="dayofweek">
                @for (int i = 0; i < Model.DaysOfWeek.Count(); i++)
                {
                    <table>
                        <tr>
                            <td>
                                @Html.HiddenFor(x => x.DaysOfWeek[i].id)
                                @Html.CheckBoxFor(x => x.DaysOfWeek[i].isChecked)
                                @Html.DisplayFor(x => x.DaysOfWeek[i].text, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Job Task List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script type="text/javascript">        
        $(document).ready(function () {
            $('#StartDate').datetimepicker({
                defaultDate: '@Model.StartDate',
                showClose: true,
                showClear: true
            });
            $('#EndDate').datetimepicker({
                defaultDate: '@Model.EndDate',
                showClose: true,
                showClear: true
            });           
            changeView();
            $("#Frequency").change(function () {
                changeView();                
            });            
        });

        function changeView() {            
            if ($("#Frequency option:selected").text() == "Daily") {
                $(".bydate").hide();
                $(".dayofweek").hide();
                $(".month").hide();
                $(".placement").hide();
            } else if ($("#Frequency option:selected").text() == "Weekly") {
                $(".bydate").hide();
                $(".dayofweek").show();
                $(".month").hide();
                $(".placement").hide();
            } else if ($("#Frequency option:selected").text() == "Monthly") {
                $(".bydate").show();
                $(".dayofweek").show();
                $(".month").hide();
                $(".placement").show();
            } else if ($("#Frequency option:selected").text() == "Quarterly") {
                $(".bydate").hide();
                $(".dayofweek").hide();
                $(".month").hide();
                $(".placement").hide();
            } else if ($("#Frequency option:selected").text() == "Half Year") {
                $(".bydate").hide();
                $(".dayofweek").hide();
                $(".month").hide();
                $(".placement").hide();
            } 
            else if ($("#Frequency option:selected").text() == "Yearly") {
                $(".bydate").show();
                $(".dayofweek").show();
                $(".month").show();
                $(".placement").show();
            }
        }
    </script>
}
