﻿@model IEnumerable<OPSTasks.Models.JobTaskViewModels.JobTaskViewModel>

@{
    ViewBag.Title = "Job Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Tasks</h2>

<p>
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.ActionLink("Create Job Task", "Create")
    }
</p>
<table class="table">
    <tr>        
        <th></th>        
        <th width="250px">
            @Html.DisplayNameFor(model => model.Title)
        </th>     
        <th width="250px">
           Job Description
        </th>
        <th width="250px">
            @Html.DisplayNameFor(model => model.ReplaceTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intervals)
        </th>
        <th>
            <p>Subtasks</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                <br />@Html.ActionLink("Details", "Details", new { id = item.ID })
                <br />@Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        @if (ViewBag.IsUser != null && ViewBag.IsUser)
        {
            <td>                
                @Html.ActionLink("Details", "Details", new { id = item.ID })                
            </td>
        }
        <td style="min-width:250px">
            @Html.DisplayFor(modelItem => item.Title)
        </td>       
        <td style="min-width: 250px;">
            <a href="~/JobDescriptions/UserDetails/@item.JobDescriptionID" target="_blank">@item.JobDescriptionURL</a>
        </td>
        <td width="250px">
            @Html.DisplayFor(modelItem => item.ReplaceTask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intervals)
        </td>
        <td>
            @if (item.HasSubtasks)
            {
               @Html.ActionLink("Yes", "Index", "Subtask_Lookup", new { id = item.ID }, null)
            }
            else
            {
                <p>No</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>       
    </tr>
}

</table>