﻿@model OPSTasks.Models.Subtask_LookupViewModels.Subtask_LookupViewModel

@{
    ViewBag.Title = "Add Job Subtask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.JobTask</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Subtask</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobTaskID)

        <div class="form-group">
            @Html.LabelFor(model => model.Subtasks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubtaskID, Model.Subtasks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Subtasks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1" } })
                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
