﻿@model IEnumerable<OPSTasks.Models.Subtask_LookupViewModels.Subtask_LookupViewModel>

@{
    ViewBag.Title = "Job Sub Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.JobTask</h2>

<p>
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.ActionLink("Add Subtask", "Create", new { id = ViewBag.JobTaskID })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subtask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subtask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            <td>
                @Html.ActionLink("Modify Order", "Edit", new { id = item.ID })
                <br />@Html.ActionLink("Remove", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Job Task List", "Index", "JobTasks" , null, null)
</div>
