﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.submit-progress-bg {
    background-color: lightgray;
}

.submit-progress {
    position: fixed;
    display: block;
    top: 50%;
    left: 60%;
    height: 6em;
    padding-top: 2.3em;
    width: 20em;
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}

.submit-progress2 {
    position: fixed;
    display: block;
    top: 50%;
    left: 60%;
    height: 6em;
    padding-top: 2.3em;
    width: 20em;
    margin-left: -10em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}

    .submit-progress, .submit-progress2 i {
        margin-right: 0.5em;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container {
    padding-left:20px !important;
    margin-right:0px;
    margin-left:0px;
}
.input-group {
    width:50%;
}
.input-group-addon {
    width:30%;
    font-size: 20px;
    background:none !important;
    border: 0 !important;
    padding: 0 !important;
    padding-bottom: 10px;
    padding-left: 15px;
}

.form-control {
    height:auto !important;
    width:auto !important;
}
.span-button {
    padding-left: 20px;
}
#loading-indicator {
    position: absolute;
    left: 10px;
    top: 10px;
}
.glyphicon {
    top: 15px !important;
    left: 10px !important;
}
input {
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    display: inline-block;
    *display: inline; /* for IE7*/
    zoom: 1; /* for IE7*/
    vertical-align: middle;
    margin-left: 20px;
}

label {
    font-size: x-large;
    display: inline-block;
    *display: inline; /* for IE7*/
    zoom: 1; /* for IE7*/
    /*float: left;*/
    padding-top: 5px;
    text-align: right;
    /*width: 140px;*/
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .input-group {
        display: inline !important;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /*Webkit (Chrome & Safari, any version)*/
    .input-group {
        display:flex !important;
    }
}
