﻿@{
    ViewBag.Title = "WebOPS Admin | Not Authorized";    
}

<div style="text-align:center;padding:250px 0 250px 0;background-color:White;">
    <span style="font-size:18pt; color:Red;">You are not authorized to see this page.</span>
    <div style="">Please contact an admin if you think this is in error or to get the necessary rights.</div>
</div>

