﻿@model OPSTasks.Models.SubTask_RecurrenceViewModels.Subtask_RecurrenceViewModel

@{
    ViewBag.Title = "Delete Scheduled Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Scheduled Task</h2>

<h3>Are you sure you want to delete this?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subtask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtask)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Hidden("view", (object)ViewBag.ViewId.ToString())
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Task List", "Index", new { id = (object)ViewBag.ViewId.ToString() })
        </div>
    }
</div>
