﻿@model OPSTasks.Models.SubTask_RecurrenceViewModels.Subtask_RecurrenceViewModel

@{
    ViewBag.Title = "Subtask Factor Name Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subtask Factor Name Data</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.FactorNameData)

        <div class="form-group">
            @Html.LabelFor(model => model.FactorNameData, "Entries", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="word-wrap:break-word; max-width: 318px;">
                @Html.DisplayFor(model => model.FactorNameData, new { htmlAttributes = new { @class = "form-control" } })                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddFactorNameData, "Add Factor Name Data", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.AddFactorNameData, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddFactorNameData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Task List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
