﻿@model OPSTasks.Models.JobTask_RecurrenceViewModels.JobTask_RecurrenceViewModel
@{
                /**/

                ViewBag.Title = "Finish Task With Unfinished Subtasks";
                Layout = "~/Views/Shared/_Layout.cshtml";
                string comment = TempData["Comment"] != null ? TempData["Comment"].ToString() : string.Empty;
}

<h2>Finish Task With Unfinished Subtasks</h2>

<h3>Are you sure you want to finish this task when there are unfinished subtask(s)?</h3>
<div>
    <hr />
    @if (!String.IsNullOrEmpty(comment))
    {
        <div style="padding-left: 5em;">
            <div class="alert alert-danger alert-dismissable" style="max-width: 390px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                <p class="text-danger">@comment</p>
            </div>
        </div>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(x => x.Comments, new { ID = "comments" });
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
    @*@Html.AntiForgeryToken()*@
    @Html.Hidden("view", (object)ViewBag.ViewId.ToString())
    <dl class="dl-horizontal">
        <dt>
            Add Comment
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.AddComment, 5, 50, new { @ID = "AddCommentsID", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddComment, "", new { @class = "text-danger" })
        </dd>
    </dl>
    @*@{
        var view = (object)ViewBag.ViewId.ToString();
    }*@
    <div class="form-actions no-color">
        @*<input type="button" value="Finish" class="btn btn-default"
               onclick='submitComments(@Html.DisplayFor(e=>e.ID),@view)' />*@
        <button class="btn btn-default" onclick="submitComments()">Finish</button>
        @Html.ActionLink("Back to Task List", "Index", new { id = (object)ViewBag.ViewId.ToString() })
    </div>
    }
</div>
