﻿@model IEnumerable<OPSTasks.Models.JobTask_RecurrenceViewModels.JobTask_RecurrenceViewModel>

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Current Tasks",
        Value = "1",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Current Week",
        Value = "2"
    });
    //listItems.Add(new SelectListItem
    //{
    //    Text = "Overdue",
    //    Value = "3"
    //});
    listItems.Add(new SelectListItem
    {
        Text = "Historical",
        Value = "4"
    });
    string factorNameData = TempData["FactorNameData"] != null ? TempData["FactorNameData"].ToString() : string.Empty;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Tasks</h2>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "changeView" }))
            {

                @Html.DropDownListFor(m => m.FirstOrDefault().ID, listItems, new { @ID = "Value", onchange = "$('#changeView').submit()", name = "action:Index", @class = "form-control" })
            }

        </div>
        @if (ViewBag.View == "Historical")
        {
            <div class='col-sm-6'>
                <h2>Date Range</h2>
                <div class="container">
                    <div class='col-md-12'>
                        <div class="col-sm-4 form-group">
                            <div class='input-group date' id='start'>
                                <label>Start: </label>
                                <input onkeydown="return false" type='text' class="form-control" id="startDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <div class="input-group date" id='end'>
                                <label>End: </label>
                                <input onkeydown="return false" type='text' class="form-control" id="endDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <span class="span-button">
                                <button id="searchButton" type="button" class="btn btn-default" onclick="search()">Search </button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
 <br />
@if (!String.IsNullOrEmpty(factorNameData))
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        <p class="text-danger">@factorNameData</p>
    </div>
}

<table class="table">
    <tr>
        @if (ViewBag.View == "Historical")
        {
            if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <th></th>
            }
        }
        @if (ViewBag.View == "Current Week" || ViewBag.View == "Historical")
        {
            if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <th></th>
            }
        }
        <th></th>
        <th></th>
        @*<th>
            @Html.DisplayNameFor(model => model.Task)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title3)
        </th>
        <th>
            @if (ViewBag.View == "Current Tasks")
            {
                @Html.ActionLink("Task", "Index", new { sortOrder = ViewBag.TaskSortParm })
            }
            else
            {
                @Html.DisplayNameFor(model => model.Title4)
            }
        </th>
        <th width="250px">
            Job Description
        </th>
        <th>
            @if (ViewBag.View == "Current Tasks")
            {
                @Html.ActionLink("DueDate", "Index", new { sortOrder = ViewBag.DateSortParm })
            }
            else
            {
                @Html.DisplayNameFor(model => model.DueDate)
            }
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactorNameData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (ViewBag.View == "Historical")
        {
            if ((ViewBag.IsAdmin != null && ViewBag.IsAdmin) || (ViewBag.IsUser != null && ViewBag.IsUser))
            {
                <td>
                    <a class="btn btn-default" style="background-color: green" href="@Url.Action("ResetJobTask_Recurrence", "JobTask_Recurrence", new { id = item.ID, view = 4 } )">Reset</a>
                </td>
                if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                {
                    <td>
                        <a class="btn btn-default" style="background-color: chocolate" href="@Url.Action("DeleteJobTask_Recurrence", "JobTask_Recurrence", new { id = item.ID, view = 4 })">Delete</a>
                    </td>
                }
            }
        }
        @if (ViewBag.View == "Current Week")
        {
            if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <td>
                    <a class="btn btn-default" style="background-color: chocolate" href="@Url.Action("DeleteJobTask_Recurrence", "JobTask_Recurrence", new { id = item.ID, view = 2 } )">Delete</a>
                </td>
            }
        }
        @if (ViewBag.View == "Current Tasks")
        {

            if (item.StartedBy != null)
            {
                <td>
                    @*<a class="btn btn-default" style="background-color:yellow" ahref="@Url.Action("TaskFinished", "JobTask_Recurrence", new { id = item.ID } )">Finish</a>*@
                    <input type="button" value="Finish" class="btn btn-default" style="background-color:yellow" onclick="requireComments(@item.ID, 1)" />
                </td>
            }
            else
            {
                if (item.DueDate > DateTime.Now)
                {
                    <td>
                        <a class="btn btn-default" style="background-color:green" href="@Url.Action("TaskStarted", "JobTask_Recurrence", new { id = item.ID } )">Start</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-default" style="background-color:red" href="@Url.Action("TaskStarted", "JobTask_Recurrence", new { id = item.ID } )">Start</a>
                    </td>
                }
            }
            <td></td>
        }
        else
        {
            <td>+</td>
            <td></td>
        }
        @*<td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title4)
            @Html.HiddenFor(modelItem => item.Task)
        </td>
        <td style="min-width: 250px;">
            <a href="~/JobDescriptions/UserDetails/@item.JobDescriptionID" target="_blank">@item.JobDescriptionURL</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactorName)
        </td>
        <td style="min-width: 200px;">
            @Html.DisplayFor(modelItem => item.FactorNameData)<br />
            @Html.ActionLink("View/Add", "EditTaskFactorNameData", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishedBy)
        </td>
        <td style="min-width: 200px;">
            @Html.DisplayFor(modelItem => item.Comments)<br />
            @Html.ActionLink("View/Add", "EditTaskComments", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
    </tr>
        foreach (var subItem in item.Subtasks)
        {
            if (subItem.ParentID != null)
            {
    <tr>
        @if (ViewBag.View == "Historical")
        {
            if ((ViewBag.IsAdmin != null && ViewBag.IsAdmin) || (ViewBag.IsUser != null && ViewBag.IsUser))
            {
                <td>
                    <a class="btn btn-default" style="background-color: green" href="@Url.Action("ResetSubtask_Recurrence", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID, view = 4 } )">Reset</a>
                </td>
                if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                {
                    <td>
                        <a class="btn btn-default" style="background-color: chocolate" href="@Url.Action("DeleteSubtask_Recurrence", "JobTask_Recurrence", new { id = subItem.ID, view = 4 })">Delete</a>
                    </td>
                }
            }
        }
        @if (ViewBag.View == "Current Week")
        {
            if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <td>
                    <a class="btn btn-default" style="background-color: chocolate" href="@Url.Action("DeleteSubtask_Recurrence", "JobTask_Recurrence", new { id = subItem.ID, view = 2 } )">Delete</a>
                </td>
            }
        }
        @if (ViewBag.View == "Current Tasks")
        {
            <td></td>
            if (ViewBag.View == "Current Tasks" && subItem.StartedBy != null)
            {
                if (subItem.Comments == null || subItem.Comments == "")
                {
                    <td>
                        <a class="btn btn-default" style="background-color:yellow" href="@Url.Action("SubtaskFinished", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Finish</a>
                        @*<input type="button" value="Finish" class="btn btn-default" style="background-color:yellow" onblur="requireComments(@item.ID)" />*@
                    </td>
                }
                else
                {
                    if (subItem.DueDate > DateTime.Now)
                    {
                        if (subItem.Comments != null || subItem.Comments == "")
                        {
                            <td>
                                <a class="btn btn-default" style="background-color:green" href="@Url.Action("SubtaskFinished", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Finish</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-default" style="background-color:green" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
                            </td>
                        }
                    }
                    else
                    {
                        if (subItem.Comments != null || subItem.Comments == "")
                        {
                            <td>
                                <a class="btn btn-default" style="background-color:red" href="@Url.Action("SubtaskFinished", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Finish</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-default" style="background-color:red" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
                            </td>
                        }
                    }
                }
            }
            else
            {
                if (subItem.DueDate > DateTime.Now)
                {
                    <td>
                        <a class="btn btn-default" style="background-color:green" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-default" style="background-color:red" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
                    </td>
                }
            }
            @* Original Code
                {
            <td>
                <a class="btn btn-default" style="background-color:yellow" href="@Url.Action("SubtaskFinished", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Finish</a>
            </td>
            }
            else
            {
            if (subItem.DueDate > DateTime.Now)
            {
            <td>
                <a class="btn btn-default" style="background-color:green" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
            </td>
            }
            else
            {
            <td>
                <a class="btn btn-default" style="background-color:red" href="@Url.Action("SubtaskStarted", "JobTask_Recurrence", new { pid = item.ID, sid = subItem.ID } )">Start</a>
            </td>
            }
            }*@
        }
        else
        {
            <td></td>
            <td>-</td>
        }
        <td>
            @Html.DisplayFor(modelItem => subItem.Title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Title2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Title3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Title4)
            @Html.HiddenFor(modelItem => subItem.Subtask)
        </td>
        <td style="min-width: 250px;">
            <a href="~/JobDescriptions/UserDetails/@subItem.JobDescriptionID" target="_blank">@subItem.JobDescriptionURL</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.FactorName)
        </td>
        <td style="min-width: 200px;">
            @Html.DisplayFor(modelItem => subItem.FactorNameData)<br />
            @Html.ActionLink("View/Add", "EditSubtaskFactorNameData", new { id = subItem.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.StartedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.FinishedBy)
        </td>
        <td style="min-width: 200px;">
            @Html.DisplayFor(modelItem => subItem.Comments)<br />
            @Html.ActionLink("View/Add", "EditSubTaskComments", new { id = subItem.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => subItem.Created)
        </td>
    </tr>
            }
        }
    }
</table>

