﻿@model OPSTasks.Models.SubTask_RecurrenceViewModels.Subtask_RecurrenceViewModel

@{
    ViewBag.Title = "Reset Finished Subtask";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string comment = TempData["Comment"] != null ? TempData["Comment"].ToString() : string.Empty;
}

<h2>Reset Finished Subtask</h2>

<h3>Are you sure you want to reset this?</h3>
<div>
    <hr />
    @if (!String.IsNullOrEmpty(comment))
    {
        <div style="padding-left: 5em;">
            <div class="alert alert-danger alert-dismissable" style="max-width: 390px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                <p class="text-danger">@comment</p>
            </div>
        </div>        
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subtask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("view", (object)ViewBag.ViewId.ToString())
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ParentID)
        <dl class="dl-horizontal">
            <dt>
                Add Comment
            </dt>

            <dd>
                @Html.TextAreaFor(model => model.AddComment, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AddComment, "", new { @class = "text-danger" })
            </dd>
        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Reset" class="btn btn-default" /> |
            @Html.ActionLink("Back to Task List", "Index", new { id = (object)ViewBag.ViewId.ToString() })
        </div>
    }
</div>
