﻿@model OPSTasks.Models.FactorName
@{
    ViewBag.Title = "Delete Factor Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Factor Name</h2>

<h3>Are you sure ou want to delete this?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Factor Name</dt><dd>@Html.DisplayFor(m=>m.FactorName1)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/>
            @Html.ActionLink("Back to Factor Names List", "Index")
        </div>
    }
</div>

