﻿@model OPSTasks.Models.FactorName
@{
    ViewBag.Title = "Factor Name Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Factor Name Details</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Factor name</dt><dd>@Html.DisplayFor(m=>m.FactorName1)</dd>
        <dt>Created</dt><dd>@Html.DisplayFor(m=>m.Created)</dd>
        <dt>Created By</dt><dd>@Html.DisplayFor(m=>m.CreatedBy)</dd>
        <dt>Updated</dt><dd>@Html.DisplayFor(m=>m.Updated)</dd>
        <dt>Updated By</dt><dd>@Html.DisplayFor(m=>m.UpdatedBy)</dd>
    </dl>
</div>
<p>@Html.ActionLink("Back to Factor Names List", "Index")</p>

