﻿@model OPSTasks.Models.FactorNamesViewModels.FactorNamesViewModel
@{
    ViewBag.Title = "Edit Factor Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Factor Names</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model=>model.FactorName, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FactorName, new { htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model=>model.FactorName, "", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

