﻿@model IEnumerable<OPSTasks.Models.FactorName>
@{
    ViewBag.Title = "Factor Names";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Factor Names</h2>

<p>
    @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
    {
        @Html.ActionLink("Create Factor Name", "Create")
    }
</p>

<table class="table">
    <tr>
        <th></th>
        <th>
            Factor Name
        </th>
        <th>
            Created
        </th>
        <th>
            Created By
        </th>
        <th>
            Updated
        </th>
        <th>
            Updated By
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID})
                    <br/>@Html.ActionLink("Details", "Details", new { id = item.ID})
                    <br/>@Html.ActionLink("Delete", "Delete", new { id = item.ID})
                </td>
            }
            @if (ViewBag.IsUser != null && ViewBag.IsUser)
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID})
                </td>
            }
            <td>
                @item.FactorName1
            </td>
            <td>
                @item.Created
            </td>
            <td>
                @item.CreatedBy
            </td>
            <td>
                @item.Updated
            </td>
            <td>
                @item.UpdatedBy
            </td>
        </tr>
    }
</table>

