﻿@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebOPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />
    <script type="text/javascript" src="~/Scripts/site.js"></script>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (User.Identity.IsAuthenticated && ((ViewBag.IsAdmin != null && ViewBag.IsAdmin) || (ViewBag.IsUser != null && ViewBag.IsUser)))
            {
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Tasks", "Index", "JobTask_Recurrence", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Job Tasks", "Index", "JobTasks")</li>
                        <li>@Html.ActionLink("Subtasks", "Index", "Subtasks")</li>
                        <li>@Html.ActionLink("Job Description", "Index", "JobDescriptions")</li>
                        <li>@Html.ActionLink("Factor Names", "Index", "FactorNames")</li>
                    </ul>
                    <div class="col-lg-6">
                        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
                        {
                            <div class="col-lg-3 fa-align-left">
                                @{
                                    var apiAddress = ConfigurationManager.AppSettings["apiBaseAddress"];
                                }

                                @*<p class="nav navbar-btn navbar-right">
                                    <input type="button" class="btn btn-default" value="Refresh" onclick="DisplayProgressMessage(this, 'Loading... Please Wait','@apiAddress.ToString()');" />
                                </p>*@
                            </div>
                            <div class="col-lg-3">
                                <p class="nav navbar-btn navbar-right">
                                    <input type="button" class="btn btn-danger" value="Delete Current Week" onclick="DisplayProgressMessageForDelete(this, 'Removing Current Generated Week... Please Wait','@apiAddress.ToString()');" />
                                </p>
                            </div>
                            <div class="submit-progress hidden">
                                <i class="fa fa-2x fa-spinner fa-spin"></i>
                                <text>Loading... Please Wait</text>
                            </div>
                            <div class="submit-progress2 hidden">
                                @*<i class="fa fa-2x fa-spinner fa-spin"></i>*@
                                <text>Removing Current Generated Week... Please Wait</text>
                            </div>
                        }
                        <div class="col-lg-6 fa-align-right">
                            <p class="nav navbar-text navbar-right">@User.Identity.Name</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WebOPS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
</body>
</html>
